<!-- Created by Rikardas Bleda -->
<%- include ("./partials/header") %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-circle"></i> User Profiles
        </h1>
        
        <table id="t01">
            <tr style="text-align: center">
                <th>Email</th>
                <th>Role</th>
            </tr>
        
            <% for (var i = 0; i < users.length; i++) { %>
                <tr style="text-align: center"> 
                    <td><%= users[i].email %></td>
                    <td><%= users[i].role %></td>
                    <td><a href="/users/<%= users[i]._id %>/edit" class="btn btn-primary">Edit</a></td>
                </tr>
            <% }; %>
        </table>
        
        <br>

        <div class="btn-group">
            <a href="/dashboard" class="btn btn-info">Dashboard</a>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
        </div>

      </div>
    </div>
  </div>
  <%- include ("./partials/footer") %>